*{
    margin: 0;
    padding: 0;
}
body{
    background: #55ffe5;
    font-size: 14px;
     
}
.Container{
        width: 80%;
        margin: 50px auto;

}
.contact-box{
    background: #fff;
    display: flex;
}
.contact-left{
    flex-basis: 60%;
    padding: auto;

}
.contact-right{
    flex-basis: 60%;
    padding: auto;
    background: #1c00b5;
    color: #fff;

}
h1{
    margin-bottom: 10px;

}
.Container p{
    margin-bottom: 40px;

}

